@model IEnumerable<OnlineWebPortal.Models.RegUser>
@*@{
    ViewData["Title"] = "Add Member";
}*@

<h1>Add Member</h1>

<h4>Add member to <b>@ViewBag.GroupID</b></h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddMember">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label class="control-label">Group Id</label>
                <input class="form-control" value="@ViewBag.GroupID" />
            </div>

            <div class="form-group">
            </div>


            <div class="form-group">
                <input type="submit" value="Add" class="btn btn-secondary btn-sm" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
