@{
    ViewData["Title"] = "About";
}

<h1>About Us</h1>

<p>
    REPLIB Coventry is one of the thriving and fast growing assemblies of the Resurrection Power and Living Bread ministries international church, situated in Coventry.
    Founded in Ghana in the late 1970s by the Late Rev. Francis Akwasi Amoako and now numbering hundreds of churches, Resurrection Power and Living Bread ministries has
    rapidly expanded into Europe, north and south America and other parts of the world.

    At REPLIB Coventry, you will meet a vibrant family of believers from all walks of life who worship God with joy and in truth; and exalt
    the Name of Jesus, the King of Kings. To this family ..YOU ARE MOST WELCOME.
</p><br><br>

<h3 style="font-size:1.6em">Our Mission</h3>
<p>
    REPLIB Coventry has a mission to preach Christ and transform lives. To reach the lost with the gospel of Jesus Christ with simplicity so that it 
    can be applied to everyday lives in a practical and effective manner. To heal the broken hearted with God's word and love. To preach deliverance to the 
    captives and to set at liberty to them that are hurting, and to bring hope to the despair and strength to the weary
</p>

<p>
    This portal is aimed at keeping our members connected and up to date with information and activities at the church. It enables potential members to join and stay connected with 
    the church no matter their location in the world, in order to participate in the various church activities. 
</p>

