@model IEnumerable<OnlineWebPortal.Models.Payment>
@{
    ViewData["Title"] = "Home Page";
}

<style>
    ul {
    }

    li {
        list-style: none;
    }
</style>
<div class="row">
    <div>
        <h1>Payment Details</h1>
    </div>
    <div>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <b>Payment Type:</b> @Html.DisplayFor(modelItem => item.PaymentType)<br />
                    <b>Payment Date:</b> @Html.Raw(item.PaymentDate)<br />
                    <b>Name of user:</b> @Html.DisplayFor(modelItetem => item.RegUser.FirstName) @Html.DisplayFor(modelItetem => item.RegUser.LastName)
                </td>
            </tr>
        }
    </div>
</div>

